*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style-type: none;
    display: flex;
    flex-direction: row-reverse;
    li{
        padding: 10px;
    }
    a{
        text-decoration: none;
        color: white;
    }  
}
