@import "./variables";
@import "./global";

header{
    background-image: $background;
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}
h1{
    text-align: center;
    margin-left: 20%;
}
body{
    background-color: blueviolet;
    height: 100%;
    background-size: cover;

    
}
.trans{
    width: 50%;
    margin: 10% 30%;
    background-color: blue;
    border-radius: 0;
    padding: 10%;
    align-items: center;
    transition-property: width, background-color, border-radius;
    transition-delay: 1s ;
    transition-duration: .5s;
    text-align: center;

    h3{
        text-align: center;
    }
    
}
.trans:hover{
    width: 55%;
    background-color: white;
    border-radius: 50%;
    transform: scale(3);
}

.register{
    border: 1px white solid;
    background-color: white;
    margin-left: 25%;
    width: 50%;

    input{
        width: 100%;
        padding: 25px;

    }
}